
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Ignore large generated artifacts
screen/
screenrecord/
screenshot/
node_modules/
*.webm
*.mp4
